.doc_search{
    margin-bottom: -15px;
}
.doc_search>*{
    color:white!important;
    border-bottom-color: white!important;
}
.doc_search>label{
    opacity: 0.5;
}
.doc_link{
    color: #106CC8;
    display: block;
}
.doc_link:hover{
    opacity: 0.54;
}