.carousel__button{
    margin: 0;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 2
}
.carousel__button__left{
    left: 0;
}
.carousel__button__right{
    right: 0;
}
.slider__container{
    position: absolute;
    bottom: 0;
    left: 20%;
    width:60%;
    text-align: center;

}
.slider__container>*{
    color: white;
    text-shadow: 2px 2px 2px rgb(16,108,200);
}
slidecontainer{
    position: relative !important;
    margin-bottom: -5px;
}
.ng-carousel{
    background-color: #267ED5;
}
