<section  md-whiteframe="10" ng-controller="DetailController as detail">
    <md-toolbar>
        <h1 class="center toolbar__title">{{ switch.content.heading }}</h1>
    </md-toolbar>
    <md-content layout="row" layout-padding>
        <img ng-if="switch.content.image" class="img-rounded center-block" src="{{ switch.content.image }}" width="100%">
        <div ng-bind-html="switch.content.text"></div>
        <div>
            <a ng-href="{{doc.url}}" target="_blank" ng-repeat="doc in switch.content.documents">{{doc.title}}</a>
        </div>
    </md-content>
</section>