<section  md-whiteframe="10" ng-cloak>
    <md-toolbar layout="row" layout-align="center">
        <h1 class="toolbar__title">Специальности</h1>
    </md-toolbar>
    <md-content layout="row" layout-wrap layout-align="start start">
        <div flex="50" flex-xs="100" ng-repeat="spec in switch.content">
            <md-card layout="column" class="animated_el speciality_el">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-title">{{ spec.title }}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column" layout-padding>
                        <div ng-if="spec.additional" layout="row" layout-align="center center">
                            <div flex><b>Форма:</b> {{ switch.additional.forms[spec.additional.form_learning] }}</div>
                            <div flex><b>Мест:</b> {{spec.additional.budgets}}</div>
                            <div flex><b>Заявок:</b> {{spec.additional.requests}}</div>
                        </div>
                        <div ><b>Квалификации:</b>
                            <ul>
                                <li ng-repeat="q in spec.qualifications">{{q}}</li>
                            </ul>
                        </div>
                        <md-divider></md-divider>
                        <div><b>Область профессиональной деятельности:</b> {{spec.area}}</div>
                        <md-divider></md-divider>
                        <div><b>Виды деятельности:</b>
                            <ul>
                                <li ng-repeat="a in spec.activities">{{a}}</li>
                            </ul>
                        </div>
                        <md-divider></md-divider>
                        <div><b>Код:</b> {{spec.code}}</div>
                    </md-card-content>

            </md-card>
        </div>
    </md-content>

</section>