<section md-whiteframe="10" ng-cloak>
    <md-toolbar layout-gt-xs="row" layout-xs="column" layout-align="center">
        <a flex="10" flex-xs="100" href="{{switch.cur_section}}" aria-label="Back to news list" class="md-button">
            <md-icon md-svg-src="/static/images/back.svg" aria-hidden="true"></md-icon>
        </a>
        <h1 flex class="toolbar__title " ng-class="{'md-headline':gallery.size('xs')}">{{switch.content.title}}</h1>
    </md-toolbar>
    <md-content layout-padding layout="column">
        <div flex class="md-subhead">{{switch.content.date|date:'yyyy-MM-dd HH:mm'}}</div>
        <div flex>
            <img ng-if="switch.content.image" class="img-rounded center-block"  src="{{ switch.content.image }}" style="max-width: 100%">
            <div ng-bind-html="switch.content.text"></div>
        </div>
    </md-content>
</section>

