
<section class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 scroll_menu_container">
        <ul class="sub_menu__left nav btn-group nav-pills nav-stacked" >
            <li on-finish-render="ngRepeatFinished" class="item__sub_menu__left" ng-repeat="m in menu" ng-class="{active: isActiveUrl(m.slug)}"><a href="{{ currentUrl }}/{{ m.slug }}">{{ m.name }}</a></li>
        </ul>
    </div>
    <article class="col-md-9 col-lg-10 col-sm-8">
        <h1 class="text-center">{{ detail.heading }}</h1>
        <img ng-if="detail.image" class="img-rounded center-block" src="{{ detail.image }}" width="100%">
        <div ng-bind-html="detail.text"></div>
    </article>
</section>
