<!-- /Style Slider -->
<div  id="Carousel" class="carousel slide carousel-slideSequence" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#Carousel" data-slide-to="{{ $index }}" ng-class="{active:$first}" ng-repeat="slide in home.slider"></li>
    </ol>
    <div class="carousel-inner">
     <div class="item" ng-class="{active:$first}" ng-repeat="slide in home.slider">
         <img src="{{ slide.image }}" class="center-block" width="100%">
         <div class="container">
             <div class="carousel-caption" style="color:{{ slider.color }}">
                <h3 class="hidden-xs">{{ slide.h3 }}</h3>
                <p class="hidden-xs">{{ slide.p }}</p>
                <p ng-show="slide.link"><a class="btn btn-primary " href="{{ slide.link }}" role="button">Смотреть</a></p>
             </div>
         </div>
     </div>
    </div>
    <a class="left carousel-control" href="#Carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#Carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
 </div>