<div class="navbar-page well well-sm">

</div>
<section  md-whiteframe="22">
    <md-toolbar layout="row"  ng-model="category" ng-init="category='администрация'">
            <md-button flex ng-repeat="cat in ['администрация', 'педагоги', 'обслуживающий персонал']" ng-click="category" ng-value="cat">{{cat}}</md-button>
    </md-toolbar>
    <md-content layout="row" layout-xs="column">
        <md-card flex layout="column" class="layout-column" md-theme="default" md-theme-watch ng-repeat="staff in switch.content|filter:{category} | orderBy: 'order'">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ staff.name }}</span>
                    <span class="md-subhead">{{ staff.position }}</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content layout="row" layout-align="space-between" class="layout-align-space-between-stretch layout-row">
                <div class="md-media-xl card-media" ng-class="{'grey_background': !staff.image}">
                    <img ng-if="staff.image" class="img-thumbnail" src="media/{{ staff.image }}" width="100%">
                </div>

                <md-card-actions layout="column" class="layout-column">
                    <md-button class="md-icon-button " type="button" aria-label="Favorite">
                        <md-icon aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path d="M0 0h24v24h-24z" fill="none"></path>
                                <path d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z"></path>
                            </svg>
                        </md-icon>
                        <div class="md-ripple-container"></div>
                    </md-button>
                    <md-button class="md-icon-button " type="button" aria-label="Settings">
                        <md-icon aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path d="M0 0h18v18h-18z" fill="none"></path>
                                <path d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z"></path>
                            </svg>
                        </md-icon>
                    </md-button>
              </md-card-actions>
            </md-card-content>
        </md-card>
    </md-content>
</section>