<div ng-switch="switch.template">
    <div ng-switch-when="staff" >
        <ng-include src="'/static/views/staff.html'"></ng-include>
    </div>
    <div ng-switch-when="detail">
        <ng-include src="'/static/views/detail.html'"></ng-include>
    </div>
    <div ng-switch-when="document">
        <ng-include src="'/static/views/documents.html'"></ng-include>
    </div>
    <div ng-switch-when="photogallery">
        <ng-include src="'/static/views/galleries.html'"></ng-include>
    </div>
</div>