.animate-container{
    position: relative;
    /*min-height: 680px;*/
}
.animate.ng-enter, .animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate.ng-enter {
  left:150%;
}
.animate.ng-enter.ng-enter-active {
  left:0;
}
.animate.ng-leave.ng-leave-active {
  left:-150%;
}

.article__animation.ng-enter,
.article__animation.ng-leave
{
    -webkit-transition: 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -moz-transition: 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -ms-transition: 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -o-transition: 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    transition: 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    position: relative;
    display: block;
}

.article__animation.ng-enter.ng-enter-active,
.article__animation.ng-leave {
    opacity: 1;
    bottom: 0;
    height: 30px;
}

.article__animation.ng-leave.ng-leave-active,
.article__animation.ng-enter {
    opacity: 0;
    bottom: -50px;
    height: 0;
}