/*colors*/
.default_background_color{
    background-color:#106CC8;
}
.opacity{
    opacity: 0.54;
}
.default_text_color{
    color:white!important;
}
.animated_el{
    -webkit-transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
}

footer{
    margin-top: 40px;
    align-self: flex-end;
    padding: 16px 32px;
    width: 100%;
    text-align: center;
    font-size: small;
    border-top: 1px solid #ddd;
}
.toolbar__title{
    margin: 10px
}

.icon-bar {
    background-color: white;
}
.icon-bar {
    display: block;
    width: 50px;
    height: 5px;
    border-radius: 1px;
    margin: 10px auto;

}
.grey_background {
    background-color: #999999
}
.liked md-icon{
    color: rgb(255,82,82)!important;
}
.center{
    text-align: center;
}

.hide{
    opacity: 0;
}

a{
    color: #106CC8;
    text-decoration: none !important;
}

/*gallery*/
.gallery__btn_back{
    position: absolute;
    left: 0;
    margin-top: 15px;
}
.gallery__list_photo{
    cursor:pointer;
}
.gallery__list_photo:hover{
    transform: scale(0.98);
}

.gallery_el:hover{
    transform: scale(0.98);
}
.margin_left{
    margin-left: 100px;
}

/*staff*/
.staff_search{
    margin-bottom: -15px;
}
.staff_search>*{
    color:#106CC8!important;
    border-bottom-color: #106CC8!important;
}
.staff_search>label{
    opacity: 0.5;
}
.staff_information__title {
    font-weight:bold;
    border-radius: 2px;
    padding: 1px;
    margin-top: 3px;
}

/*news*/
.news_el__animate:hover{
    transform: scale(0.99);
}

/*speciality*/
.speciality_el:hover{
    background-color: rgba(38, 126, 213, 0.2); ;
}